:root {
  --red-color: #cc0000;

  --header-height: 80px;
}
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

html,
body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none !important;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
