.footer {
  display: flex;
  padding: 10px;
  width: 100%;
  background: #000;
  border-top: 2px solid var(--red-color);

  justify-content: flex-end;
  align-items: center;
  bottom: 0px;
  color: #fff;
}
.footer a {
  color: #fff;
  font-size: 15px;
}
